*
{
  color: white;
}
@font-face{
  font-family: Evilempire;
  src: url(/EvilEmpire-4BBVK.ttf);
}

body
{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right,  #0F152B, #5D72B4, #0F152B) ;
}

main
{
  background-color: #3c2d4e79;
  display: flex;
  align-items: center;
  height: 70%;
  width: 50%;
  flex-direction: column;
  padding: 20px ;
  gap: 13em;
}
#header
{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30px;
  letter-spacing: 2px;
  font-family: "Evilempire", sans-serif;
}
.forms
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.set
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
fieldset {
  margin: 0;
  border: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 100%;
}
#sub
{ 
  background-image: url("buttonconfirm.svg"); 
  width: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 4em;
  background-color: transparent;
  display: flex;
  background-position: center;
  cursor: pointer;
  border: 0;
}
#guessing
{
  width: 25rem;
  border-radius: 15px;
  color: black;
  outline: none;
}
#titulo
{
  font-family: "Evilempire", sans-serif;
}

#log
{
  height: 18px;
}
#guessing::-webkit-outer-spin-button,
#guessing::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;

}